    <h1>Welcome to our portfolio.</h1>
    <p>
      Our passion is building and shipping. We are at an experimentary period of our lives. Our current goal is to ship out one idea once a month. You can follow our progress here.
    </p>
    <p>
     <small>The reason for shipping small and often is because we are trying to learn as much as we can while still young. Our products and field are set as varied as possible to try expand our own minds.</small>
    </p>