<div class="hero-unit">
  <h1>We help design, brand and build ideas.</h1>
  <p>
    We are Joy and Droid, a team of two outwardly opposing forces. We build solutions in the expansion generated between us and the client. Currently we focus in the web domain as there is a need for great businesses to make full use of the power of the internet.
  </p>
  <p>
    Our passion is to be used as human mediums channelling and shipping the best executable ideas.
  </p>
  <p>
    <%= link_to "Give us a shout out", new_user_registration_path, class: "btn btn-primary btn-large" %>
  </p>
</div>
