    <h1>We help design, brand and build ideas.</h1>
    <p>
      Welcome to JoyDroid and co.
    </p>
    <p>
      Our passion is to be used as man-machine mediums channelling and shipping executable ideas that we are blessed to cross paths with.
    </p>
    <p>
      <%= link_to "Need something done? Call me, maybe", new_user_registration_path, class: "btn btn-primary btn-large" %>
    </p>
