    <h1>Hi, I'm Joel. I design, brand and build ideas into reality.</h1>
    <p>
      My passion is to be used as a man-machine medium - channelling and shipping executable ideas that I am blessed to be challenged with.
    </p>
    <p>
      <%= link_to "Need something done? Call me.", new_user_registration_path, class: "btn btn-primary btn-large" %>
    </p>
