    <h1>Hi, I'm Joel. I design, brand and build ideas into reality.</h1>
    <p>
      My passion is to be used as a man-machine medium - channelling and shipping executable ideas that I am blessed to be challenged with.
    </p>
    <p>
     <small>Contact me at:  j o e l (at) w t x . c o m . a u</small>
    </p>
