  <p>
    My current interests are: </p>
  <p>Print on demand, Crowdfunding, supply chains, Education, Search engines, Virtual economies and research into Depression and Anxiety.
  </p>
  <p>
    If you are in any of these industries or passionate about similar things please contact me at: <small>  j o e l (at) w t x . c o m . a u</small>
  </p>
