  <p>
    Our current interests are: </p>
  <p>Print on demand, Crowdfunding, supply chains, Education, Search engines, Artificial intelligence, Poker, Virtual economies and research into Depression and Anxiety.
  </p>
  <p>
    If you are in any of these industries or passionate about similar things please contact us.
  </p>
