<div class="main">
  <ul class="cbp-ig-grid">
    <li>
      <a>
        <span class="cbp-ig-icon cbp-ig-icon-cogs"></span>
        <h3 class="cbp-ig-title">Immersive Design</h3>
       <span class="cbp-ig-category">I build websites while I work for the industy or business I am building for.
</span>
      </a>
    </li>
    <li>
      <a>
        <span class="cbp-ig-icon cbp-ig-icon-dollar"></span>
        <h3 class="cbp-ig-title">Marketing & Branding</h3>
        <span class="cbp-ig-category">Building a business, one hand crossed across the vision-heart and the other on its marketing balls.
</span>
      </a>
    </li>
    <li>
      <a>
        <span class="cbp-ig-icon cbp-ig-icon-shipping"></span>
        <h3 class="cbp-ig-title">Building. Shipping!</h3>
        <span class="cbp-ig-category">Action biased. Results, results, no excuses. Building that is clean, simple and industry compliant.
</span>
      </a>
    </li>
  </ul>
</div>
