<div class="main">
  <ul class="cbp-ig-grid">
    <li>
      <a>
        <span class="cbp-ig-icon cbp-ig-icon-cogs"></span>
        <h3 class="cbp-ig-title">Immersive Design</h3>
       <span class="cbp-ig-category">We build what we know and like. If we don't know it, we work in the industry until we like it.</span>
      </a>
    </li>
    <li>
      <a>
        <span class="cbp-ig-icon cbp-ig-icon-dollar"></span>
        <h3 class="cbp-ig-title">Marketing & Branding</h3>
        <span class="cbp-ig-category">Built in direction with the marketing strategy. Simple design in line with the brand.</span>
      </a>
    </li>
    <li>
      <a>
        <span class="cbp-ig-icon cbp-ig-icon-shipping"></span>
        <h3 class="cbp-ig-title">Building. Shipping!</h3>
        <span class="cbp-ig-category">Action biased. Results, results, no excuses. One month, idea => product.</span>
      </a>
    </li>
  </ul>
</div>
