<h1>Team</h1>

<h2>You</h2>
<p>This could be you.</p>

<h2>The Joy</h2>
<p>The joy is Joel. When he can sit still for two minutes he will be staring off into space.</p>

<h2>The Droid</h2>
<p>Other than coding, the Droid likes to pump iron and care for plants.</p>
