<div style="padding: 120px">
<p>I love to work in team projects. I am actually currently working on several projects but I am always on the look out for friends and partners to collaborate with.</p>
</div>
