<div class="main" style="margin-top:250px;">
<section>
<div>
<a name='about' class="anchor"></a> 
<%= render 'pages/about' %>
</div>
</section>

<section>
<div>
<a name='services' class="anchor"></a>
<%= render 'pages/services' %>
</div>
</section>

<section>
<div>
<a name='team' class="anchor"></a>
<%= render 'pages/team' %>
</div>
</section>
</div>
