<div class="main">
<section>
<div>
<a name='about'></a> 
<%= render 'pages/about' %>
</div>
</section>

<section>
<div>
<a name='services'></a>
<%= render 'pages/services' %>
</div>
</section>

<section>
<div>
<a name='team'></a>
<%= render 'pages/team' %>
</div>
</section>
</div>
